<div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
<div class="gallery-curve-wrapper">

<div class="gallery-header indigo lighten-5">
    <img class="responsive-img center" src="assets/images/hbs.jpg">
    
    <div class = "right-align">
        <span class="waves-effect waves-light indigo-text text-darken-4 more-button">
            <i class="material-icons right">play_circle_outline</i>Cases
        </span>
    </div>

</div>

<div class="gallery-body">
    <div class="title-wrapper">
        <h5 class="blue-grey-text center-align">
            <b>Harvard</b>
        </h5>        
    </div>
    
    <p class="description">
        <ul class="collection">
            <li class="collection-item">
                <a href="files/hbs.pdf">
                    <i class="material-icons left">description</i> Harvard Business School
                </a>
            </li>    
        </ul>
    </p>
</div>   
</div> 
</div> 