<div id="portfolio" class="section gray">
    <div class="container">

        <div id="email-gate">
            <h2>Enter your email to continue</h2>
            <input type="email" id="emailInput" required />
            <button id="continueBtn">Continue</button>
          </div>
          
          <div id="protected-content" style="display:none;">
            <h4 class = "center-align">Consulting Case Books</h4>
                <p class="light">Crafting Cases </p>
                    <ul>
                        <li><a href="files/CraftingCasesSideA.pdf">Casebook Side A</a></li>
                        <li><a href="files/CraftingCasesSideB.pdf">Casebook Side B</a></li>
                    </ul>
                <p class="light">Lorem Ipsum  </p>
        </div>
    </div>
</div>

