<div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
<div class="gallery-curve-wrapper">

<div class="gallery-header indigo lighten-5">

    <img class="responsive-img center" src="assets/images/tuck.png">
 
    <div class = "right-align">
        <span class="waves-effect waves-light indigo-text text-darken-4 more-button">
            <i class="material-icons right">play_circle_outline</i>Cases
        </span>
    </div>

</div>

<div class="gallery-body">
    <div class="title-wrapper">
        <h5 class="blue-grey-text center-align">
            <b>Tuck</b>
        </h5>        
    </div>
    
    <p class="description">
        <ul class="collection">
            <li class="collection-item">
                <a href="files/Tuck_2000.pdf">
                  <i class="material-icons left">description</i> Tuck 2000
                </a>
              </li>
            <li class="collection-item">
              <a href="files/Tuck_2007.pdf">
                <i class="material-icons left">description</i> Tuck 2007
              </a>
            </li>
            <li class="collection-item">
              <a href="files/Tuck_20010.pdf">
                <i class="material-icons left">description</i> Tuck 2010
              </a>
            </li>
          </ul>


    </p>
</div>   
</div> 
</div> 